{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% block containt %}
    <!-- Start Main -->
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('ClientTemplate/images/breadbg1.jpg') }}');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>SHOP</h2>
                        <a href="#">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </section>

            <!-- End Breadcrumb Part -->


            <section class="home-icon blog-main-section shop-page bg-skeen">
                <div class="icon-default">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png')}}" alt="" style="border-radius: 100px"/>
                </div>
                <div class="container">
                    <div class="portfolioFilter">
                        <div class="portfolioFilter-inner bg-skeen">

                        </div>
                    </div>
                </div>
                <div class="portfolioContainer row" data-defaultfilter=".breakfast">
                    <div id="tableau">
                        {% for promotion in promotions  %}
                        {% if promotion.etatLinePromo == 'en cours' %}
                            <div class="col-md-3 col-sm-4 col-xs-12 breakfast dessert dinner wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"id="tableau">
                            <div class="shop-main-list">
                                <div class="shop-product"  >
                                    <img src="{{ asset('public/uploads/brochures/Produit/' ~ promotion.idProd.imageProd) }}" alt="" style="border-radius: 20px;" height="220" width="420" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            {% if  promotion.idProd.qteStockProd==0 %}
                                                <a class="shop-cart-btn">OUT OF STOCK </a>
                                            {% else %}
                                                <a href="{{ path('PasserCommande',{'id': promotion.idProd.id}) }}" class="shop-cart-btn">Ajouter au panier</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('detail_promo',{'id': promotion.id }) }}"><h5><strong>{{ promotion.idProd.nomProd }}</strong></h5></a>
                                <h5><strong><strike>{{ promotion.idProd.prixProd }}</strike> </strong></h5><strong><h5><font color="#f5f5dc">{{ promotion.idProd.nvPrix }}</font></h5></strong>

                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}


                    </div>
                    <div class="gallery-pagination">
                        <div class="gallery-pagination-inner">
                            <ul>
                                <li><a href="#" class="pagination-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>PREV page</span></a></li>
                                <li class="active"><a href="#"><span>1</span></a></li>
                                <li><a href="#"><span>2</span></a></li>
                                <li><a href="#"><span>3</span></a></li>
                                <li><a href="#" class="pagination-next"><span>next page</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- End Main -->


{% endblock %}