{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% block containt %}
    <!-- Start Main -->
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('ClientTemplate/images/breadbg1.jpg') }}');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>BLOG</h2>
                        <a href="#">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb Part -->
            <section class="home-icon blog-main-section blog-list-outer bg-skeen">
                <div class="icon-default">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png') }}" alt="" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="blog-left-section" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="blog-left-search blog-common-wide">
                                    <input type="text" name="txt" placeholder="Search" />
                                    <input type="submit" name="submit" value="&#xf002;" />
                                </div>
                                <div class="blog-left-categories blog-common-wide">
                                    <h5>Gérer mes recettes</h5>
                                    <ul class="list">
                                        <li><a href="{{ path('AjouterRecetteClient' ) }}">Ajouter une recette</a></li>
                                        <li><a href="{{ path('ListeMesRecette',{'type':"client"} ) }}">Mes recettes</a></li>
                                        <li><a href="{{ path('RecupererMesRecetteClient' ) }}">Recuperer mes recettes</a></li>
                                    </ul>
                                </div>
                                <div class="blog-recent-post blog-common-wide">
                                    <h5>Recent Posts</h5>
                                    <div class="recent-blog-list">
                                        <p><img src="{{ asset('ClientTemplate/images/img44.png') }}" alt="" /></p>
                                        <p><small>October 13, 2017</small></p>
                                        <h6>Disclosue - Real food here</h6>
                                    </div>
                                    <div class="recent-blog-list">
                                        <p><img src="{{ asset('ClientTemplate/images/img42.png') }}" alt="" /></p>
                                        <p><small>October 13, 2017</small></p>
                                        <h6>Disclosue - Real food here</h6>
                                    </div>
                                </div>
                                <div class="popular-tag blog-common-wide">
                                    <h5>Popular Tags</h5>
                                    <a href="#">Audio</a> <a href="#">Service</a> <a href="#">Cupcake</a> <a href="#">Online Order</a> <a href="#">Contact</a>
                                </div>
                                <div class="blog-left-deal blog-common-wide">
                                    <h5>Best Deals</h5>
                                    <div class="best-deal-blog">
                                        <div class="best-deal-left">
                                            <img src="{{ asset('ClientTemplate/images/img43.png') }}" alt="" />
                                        </div>
                                        <div class="best-deal-right">
                                            <p>Lasal Cheese</p>
                                            <p><strong>$ 15</strong></p>
                                        </div>
                                    </div>
                                    <div class="best-deal-blog">
                                        <div class="best-deal-left">
                                            <img src="{{ asset('ClientTemplate/images/img44.png') }}" alt="" />
                                        </div>
                                        <div class="best-deal-right">
                                            <p>Lasal Cheese</p>
                                            <p><strong>$ 15</strong></p>
                                        </div>
                                    </div>
                                    <div class="best-deal-blog">
                                        <div class="best-deal-left">
                                            <img src="{{ asset('ClientTemplate/images/img45.png') }}" alt="" />
                                        </div>
                                        <div class="best-deal-right">
                                            <p>Lasal Cheese</p>
                                            <p><strong>$ 15</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="blog-right-section">
                                {% for recette in recettes %}
                                    {% if recette.etatRec =='non' %}
                                        <div class="blog-right-listing wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                            <div class="feature-img">
                                                <img src="{{ asset('public/uploads/brochures/Recettes/' ~  recette.imageRec)}}" alt="" style="height: 280px ;width: 360px;border-radius: 10%" />
                                                <div class="date-feature"><small> {{ recette.dateRec |date('d/m') }} </small>
                                                    <small> {{ recette.dateRec |date('y') }} </small></div>
                                            </div>
                                            <div class="feature-info">
                                                <span><i class="icon-user"></i> {{  recette.idUser.username }}</span>
                                                <span><i class="icon-comment"></i> 5 Comments</span>
                                                <h5>{{ recette.nomRec }}</h5>
                                                <p>{{ recette.descriptionRec |truncate(200, true, '...')|raw }}</p>
                                                <a href="{{ path('RestaurerRecetteClient',{'id': recette.id,'type':"client" }) }}" class="read-arrow">Restaurer</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="gallery-pagination">
                                    <div class="gallery-pagination-inner">
                                        <ul>
                                            <li><a href="#" class="pagination-prev"><i class="icon-left-4"></i> <span>PREV page</span></a></li>
                                            <li class="active"><a href="#"><span>1</span></a></li>
                                            <li><a href="#"><span>2</span></a></li>
                                            <li><a href="#"><span>3</span></a></li>
                                            <li><a href="#" class="pagination-next"><span>next page</span> <i class="icon-right-4"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End Main -->

{% endblock %}