{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}
{% set totalPrix=0 %}
{% block containt %}
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('ClientTemplate/images/breadbg1.jpg') }}');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>PANIER</h2>
                        <a href="{{ path('cup_cakes_Eshop') }}">Acceuil</a>
                        <span>Achat</span>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb Part -->
            <section class="home-icon shop-cart bg-skeen">
                <div class="icon-default icon-skeen">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png') }}" alt="" />
                </div>
                <div class="container">
                    <div class="checkout-wrap wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <ul class="checkout-bar">
                            <li class="done-proceed">Mon Pannier</li>
                            <li class="done-proceed">Livraison</li>
                            <li class="active">Commande Complete</li>
                            <li>Ma Commande</li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="shop-checkout-right">
                            <div class="shop-checkout-box">
                                <h5>Votre Commande</h5>

                                    <form method="post">
                                        <table>
                                        <tr><td>Produit</td><td>Nombre</td><td>Prix</td></tr>

                                        {% for produit in produits %}
                                        <div>
                                            <tr><td>{{ produit.nomProd }}</td><td>{{ panier[produit.id] }}</td><td >{{ produit.prixProd * 3 * panier[produit.id] }}</td></tr>
                                            <input hidden name="Qte" value="{{ panier[produit.id] }}">
                                        </div>
                                        <input hidden name="idProd" value="{{ produit.id }}">
                                    {% set totalPrix = totalPrix + (produit.prixProd * 3 * panier[produit.id]) %}

                                    {% endfor %}
                                    <div class="checkout-total">
                                        <tr><td>Total</td><td>{{ totalPrix }}</td></tr>
                                    </div>
                                </table>
                                        <br>
                                        <div class="checkout-button">
                                            <input type="submit" class="button-default btn-large btn-primary-gold" value="Confirmer">
                                        </div>
                                    </form>






                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End Main -->
{% endblock %}