{% extends "CupCakesBundle:Client:LayoutC2.html.twig" %}

{% set totalPrix = 0 %}
{% set totalQuantite = 0%}

{% block containt %}
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('./images/breadbg1.jpg');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>PANIER</h2>
                        <a href="{{ path('cup_cakes_Eshop') }}">Acceuil</a>
                        <span>Achat</span>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb Part -->
            <section class="home-icon shop-cart bg-skeen">
                <div class="icon-default icon-skeen">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png') }}" alt="" />
                </div>
                <div class="container">
                    <div class="checkout-wrap wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <ul class="checkout-bar">
                            <ul class="checkout-bar">
                                <li class="active">Mon Pannier</li>
                                <li>Livraison</li>
                                <li>Commande Complete</li>
                                <li>Ma Commande</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="shop-cart-list wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <table class="shop-cart-table">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix unitaire</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if produits|length == 0 %}
                                <tr>
                                    <td colspan="4"><center>Aucun articles dans votre panier</center></td>
                                </tr>
                            {% endif %}

                            {% for produit in produits %}
                            <tr class="tr{{ produit.id }}">
                                <th>Produit</th>
                                <td>
                                    <div class="product-cart-title">
                                        <span>{{ produit.nomProd }}</span>
                                    </div>
                                </td>
                                <th>Prix Unitaire</th>
                                <td>
                                    <div class="product-cart-title">
                                        <span class="pu">{{ produit.prixProd * 3 }}</span>
                                    </div>
                                </td>
                                <th>Quantité</th>
                                <td>
                                    <form action="{{ path('PasserCommande', { 'id' : produit.id }) }}" method="get">
                                    <select name="qte" class="quantity" onChange="this.form.submit()">
                                        {% for i in 0.. produit.qteStockProd  %}
                                            <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>&nbsp;
                                </form>
                                </td>
                                <th>prix</th>
                                <td>
                                    <span class="price">{{ produit.prixProd * 3 * panier[produit.id] }}</span>
                                </td>
                                <th>Action</th>
                                <td>
                               <span><a href="{{ path('SupprimerPanier', { 'id' : produit.id }) }}"><img src="{{ asset('ClientTemplate/images/close-blue.png') }}"></a></span>
                                </td>
                            </tr>
                                {% set totalPrix = totalPrix + (produit.prixProd * 3 * panier[produit.id]) %}
                                {% set totalQuantite = totalQuantite + panier[produit.id] %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="cart-total wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="cart-total-title">
                            <h5>TOTALS</h5>
                        </div>
                        <div class="product-cart-total">
                            <small>Total produits</small>
                            <span class="total">
                                {{ totalPrix }}
                            </span>
                        </div>
                        <div class="product-cart-detail">

                            <a href="{{  path('ValiderPanier',{'total': totalPrix }) }}" class="btn-medium btn-skin pull-right">Valider Ma Commande</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}

{% block javascript %}
{% endblock %}