{% extends "CupCakesBundle:Patisserie:layoutP.html.twig" %}
{% block stylesheet %}
    <link href="{{ asset('css/bouton.css') }}" rel="stylesheet"/>

{% endblock %}
{% block containt %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Liste Des Commandes</h4><BR>
                            Rechercher: <input type="text" id="recherche">

                        </div>

                        <div class="content table-responsive table-full-width" id="tableau">
                            <table class="table table-striped">
                                <thead>
                                <th>ID</th>
                                <th>Nom Client</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th>Etat</th>
                                <th>Date Livraison</th>
                                <th>Etat Livraison</th>
                                <th>Mise a jour</th>
                                <th>Annuler</th>
                                </thead>
                                {% for commande in Commandes %}
                                <tbody>
                                <tr>
                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.idUser.nom }} {{ commande.idUser.prenom }}</td>
                                    <td>{{ commande.dateCmd| date }}</td>
                                    <td>{{ commande.montantCmd }}</td>
                                    <td>{{ commande.etatCmd }}</td>
                                    <td>{{ commande.dateLivCmd| date('d M Y') }}</td>
                                    <td>{{ commande.etatLivCmd }}</td>
                                    <td><a href="{{ path('ModificationEtat',{'id':commande.id}) }}" class="material-icons button delete">Modifier etat</a></td>
                                    <td><a href="{{ path('AnnulationCmd',{'id':commande.id}) }}" class="material-icons button edit">Annuler</a></td>
                                </tr>

                                </tbody>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
    $(function () {
        $("#recherche").keyup(function () {
            $.ajax({
                url : "{{ path('recherche_user_commande') }}",
                data : { 'username' : $(this).val() }
            }).done(function (response) {
                var tableau = $(response).find("table");
                $('#tableau').empty();
                $('#tableau').append(tableau);
            });
        });
    })
</script>
{% endblock %}